{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
</head>
<body>
<div>
    <form method="POST">
        {% csrf_token %}
        <fieldset >
            <legend>
                log in
            </legend>
            {{ form|crispy }}
        </fieldset>
        <div>
            <button type="submit">login</button>
        </div>
    </form>
    <div>
        <small> dont have an account? <a href="{% url 'register' %}">Sign up</a> </small>
    </div>
</div>
</body>
</html>
